@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hit the Green: Golfing</h1>
    <div class="image-container">
        <img src="images/golf.jpg" alt="golf course" class="cropped-image" />
        <img src="images/golf2.jpg" alt="golf course" class="cropped-image" />
    </div><br/>

    <p>I just recently got into golfing. I used to think golf was just an excuse to drive a golf cart (still think that's the best part)
        But the more I've gone the more I understand why it's so fun. I love spending time outside and it's fun trying to hit the ball in.</p>
    <br/><p>I am still not that great and sometimes prefer mini golf over an actual course, but I've been getting better by going 
        more often. Special shout out to everyone that had to help me learn how.</p>
</div>